<div [class]="showMenu?'header-x active':'header-x'">
  <div #map id="map"></div>
  <div class="loader" *ngIf="loading">
    <img src="assets/imgs/loading.svg" alt="">
  </div>
  <div class="btn" (click)="openMenu()">
    <img src="assets/imgs/down.png" alt="">
  </div>
</div>
<div [class]="showMenu?'bg-black active':'bg-black'"></div>
<ion-content class="bg">
  
  <div class="constent">

    <div class="list-drug">
      <div class="bg-red"></div>
      <div [class]="show==d.number?'item-x active':'item-x'" *ngFor="let d of data" (click)="select(d.number)">
        <div class="image">
          <img src="{{d.image}}" alt="">
        </div>
        <div class="button-open">
          <img src="assets/imgs/arrow-point-to-right.png" alt="">
        </div>
        <div class="show">
          <div class="show-head">
            <div class="text">{{d.title}}</div>
          </div>
          <div class="text-detail">
            {{d.detail}}
          </div>
        </div>
      </div>
    </div>
  </div>


</ion-content>
<div [class]="isClose?'back active':'back'" (click)="close()">
    <img src="assets/imgs/close.png" alt="">
  </div>