page-home {
    .bg-black{
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        z-index: 900;
        position: absolute;
        bottom: -100%;
        transition: bottom 1s ease;
        &.active{
            bottom: 0;
        }
    }
    .back{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #ffffff;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
        position: fixed;
        margin: auto;
        bottom: 10px;
        right: 10px;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        transition: all 0.5s ease;
        img{
            width: 20px;
            height: 20px;
            display: block;
        }
        &.active{
            bottom: 0;
            right: 0;
            border-radius: 0px;
            width: 100%;
            height: 100%;
            background:#FF414D;
            img{
                display: none;
            }
        }
    }
    .header-x{
        height: 60%;
        width: 100%;
        // background-image: linear-gradient(to right, #001B4B , #02457A);
        background-color: rgba(255, 255, 255, 1);
        // border-bottom-right-radius: 50%;
        // border-bottom-left-radius: 50%;
        position: fixed;
        // bottom: 0;
        z-index: 1000;
        display: flex;
        justify-content: center;
        transition: top 1s ease;
        top: -60%;
        &.active{
            top: 0;
            .btn{
                img{
                    transform: rotate(180deg);
                }
                
            }
        }
        .btn{
            width: 100%;
            padding: 10px;
            text-align: center;
            background-color: #ffffff;
            position: absolute;
            bottom: -50px;
            
            img{
                width: 30px;
                height: 30px;
                transition: transform 0.5s ease;
            }
        }
        #map{
            height: 100%;
            width: 100%;
            background-color: #D45769;
        }
        .loader{
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.8);
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 50px;
                height: 50px;
                animation: rol 1000ms infinite ease;
                transform-origin: 50% 50%;
            }
        }
    }
    .bg{
        background-color: #C7D3D6;
    }
    .constent{
        
        .bg-red{
            left: 0;
            top: 0;
            width: 100px;
            height: 100%;
            position: absolute;
            background-color: #D45769;
        }
        .list-drug{
            position: absolute;
            width: 100%;
            padding: 20px;
            padding-top: 50px;
            transition: width 2s, height 2s, transform 2s;
            .item-x{
                position: relative;
                height: 80px;
                box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
                margin-left: 40px;
                margin-right: 20px;
                margin-top: 20px;
                display: flex;
                background-color: #EFF1F2;
                border-radius: 10px;
                .image{
                    width: 60px;
                    height: 60px;
                    left: -30px;
                    top:10px;
                    border-radius: 50%;
                    position: absolute;
                    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
                    background-color: #EFF1F2;
                    overflow: hidden;
                    img{
                        height: 100%;
                    }
                }
                .button-open{
                    width: 30px;
                    height: 30px;
                    background: #EFF1F2;
                    border-radius: 50%;
                    position: absolute;
                    right: -15px;
                    top: 25px;
                    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
                    padding: 5px;
                    img{
                        transition: transform 0.5s ease;
                    }
                }
                .show{
                    height: 80px;
                    margin-left: 50px;
                    margin-right: 20px;
                    width: 100%;
                    overflow: hidden;
                    transition: height 0.5s ease;
                    .show-head{
                        height: 80px;
                        font-weight: 900;
                        display: flex;
                        font-size: 20px;
                        align-items: center;
                    }
                    .text-detail{
                        padding-bottom: 10px;
                    }
                }
                &.active{
                    height: auto;
                    .button-open{
                        img{
                            transform: rotate(90deg)
                        }
                    }
                    .show{
                        height: auto;
                    }
                }
            }
        }
    }

    @keyframes rol{
        from {transform: rotate(0deg);}
        to {transform: rotate(360deg);}
    }

}
