page-info {
    .con{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 100%;;
        }
    }
    .content{
        background-image: linear-gradient(to bottom, #F56A79 , #FF414D);
    }
    .to-bottom{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn-b{
        width: 200px;
        height: 60px;
        border-radius: 30px;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        transition: all 0.5s ease;
        position: absolute;
        bottom: 20px;
        &.active{
            bottom: -50%;
            position: absolute;
            width: 300%;
            height: 300%;
            color: transparent;
            border-radius: 50%;
            background:#FF414D;
        }
    }
}
