<ion-content class="content">
    <div class="con">
        <img src="assets/imgs/xxd.svg" alt="">
    </div>
    <div class="to-bottom">
        <div [class]="isGo?'btn-b active':'btn-b'" (click)="go()">
            <div>ต่อไป</div>
        </div>
    </div>
</ion-content>
